<!DOCTYPE html>
<html>
  <head>
    <title>VVC Wiki</title>
    <link rel="stylesheet" href="/lib/skeleton/css/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container" id="app"></div>
    <script> var USER = <%- user %>; </script>
    <script src="/all.js"></script>
  </body>
</html>
